body {
    background-color: #E9EDC9;
    color: #c7393d;
    text-align: center;

}

h2 {
    font-size: 40px;

}
div {
    padding-top: 50px;
    color: #DF2E38;
    font-size: x-large;
    font-weight: 500;

}
